/* Google font styles
font-family: 'Anton', sans-serif;
font-family: 'Corben', cursive;
font-family: 'Roboto', sans-serif;

background-color: #181611;
background-color: #333;
background-color: #272a2e;
color: #ffe;
*/

/* ******************** BODY DIVS******************** */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  padding: 5rem 1rem;
  /* prevents main content fr bumping right underneath "fixed" navbar*/
  /* color: #ffffd6; */
  color: #f3f0c5;
}

/* ******************** FOOTER ******************** */

.container-jgfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}

.footer-index {
  background-color: #181611;
}

.col-jg1,
.col-jg2,
.col-jg3 {
  border-top: 5px dashed #fffcd6;
  font-size: 0.75rem;
}

.col-jg1,
.col-jg2 {
  border-right: 5px dashed #fffcd6;
}

/* ******************** SPECIAL PAGE STYLES ******************** */

/* INDEX colors */

.main,
.row-jgMain,
.navbar {
  background-color: #1b1900;
}

.main a:hover {
  color: #1b1900;
}

/* PORTFOLIO background colors */
.portfolio {
  min-height: 760px;
}

.portfolio,
.nav-jgPortfolio,
.row-jgPortfolio,
.footer-port {
  /* background-color: #fff; */
  background-color: #ff7300;
}

.portfolio a:hover {
  color: #4a9602;
}

.portfolioTag {
  border-top: dashed 8px #fffcd6;
  border-bottom: dashed 8px #fffcd6;
  /* border-top: dashed 8px #454545;
  border-bottom: dashed 8px #454545; */

  padding: 5px;
}

.card {
  margin-bottom: 25px;
}

/* Portfolio-Project Extension Pages */

.nav-jgProject {
  background-color: #454545;
}

.projectMe {
  font-size: 2rem;
  margin-top: 75px;
}

.image-Contact-port {
  border: solid 3px #454545;
  box-shadow: 10px 5px 5px #454545;
}

.container-jgProject,
.nav-link-project,
.new-contact {
  color: #454545;
}

.col-jgproject1,
.col-jgproject2,
.col-jgproject3 {
  border-top: 5px dashed #454545;
  font-size: 0.75rem;
  background-color: #fff;
}

.col-jgproject1,
.col-jgproject2 {
  border-right: 5px dashed #454545;
  background-color: #fff;
}

.btn-jgproject {
  background-color: #454545;
  color: #fffcd6;
}

/* CONTACT background colors */

.contact,
.nav-jgContact,
.row-jgContact {
  background-color: #ff7300;
}

.contact a:hover {
  color: #ff7300;
}

.form-control-jg {
  background-color: #fffcd6;
}

.btn-jg {
  background-color: #fffcd6;
  color: #ff7300;
  margin-top: 5px;
  padding: 8px 6px;
}

.form-group-jg {
  padding-top: 50px;
}

/* ******************** NAVIGATION ******************** */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /* z-index prevented images scrolling over nav */
}

a:hover,
a:active {
  background-color: #fffcd6;
}

.navbar-nav {
  font-weight: bold;
}

a {
  color: #fffcd6;
}

.container-message-jg {
  padding: 50px;
}

/* ******************** TEXT ******************** */

.navbar-brand-jg,
h1,
.mainTagLine,
footer,
.btn-jg,
.messegeMe,
.projectMe {
  font-family: "Corben", cursive, "Anton", sans-serif;
}

.mainTagLine {
  font-size: 4rem;
  line-height: 1;
}

.messegeMe {
  font-size: 4rem;
}

h2,
p {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

strong {
  font-weight: bold;
  font-size: 1.25rem;
}

.container-jgPortfolio {
  margin-bottom: 50px;
}

/* ******************** IMAGES ******************** */

.image-jgMain {
  width: 400px;
}

.image-jgPortfolio {
  width: 600px;
}

.image-jgContact {
  width: 500px;
  /* padding-top: 50px; */
}

.card img {
  width: 100%;
}

.img-thumbnail-jg {
  background-color: #fffcd6;
}

/* ******************** MEDIA QUERIES ******************** */

@media (max-width: 600px) {
  .navbar-brand-jg {
    font-size: 0.75rem;
  }
  .mainTagLine,
  .messageMe,
  .projectMe {
    font-size: 2rem;
  }
  /* h2 {
        font-size: 1.5rem;
    } */
  .stuff-jg,
  .img {
    padding: 20px 15px;
    text-align: center;
  }
  .image-jgMain,
  .image-jgContact {
    width: 250px;
    display: block;
  }
  .messegeMe {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .container-jgMain,
  .container-jgContact {
    padding-top: 2rem;
  }
  .image-jgContact {
    width: 500px;
  }
}
